<app-masthead></app-masthead>

<app-orangediv></app-orangediv>

<app-whitediv></app-whitediv>

<app-projectsdiv></app-projectsdiv>

<!-- Call to action section-->
<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Télécharger mon CV au format PDF</h2>
    <a class="btn btn-light btn-xl" href="#">Télécharger</a>
  </div>
</section>
<!-- Contact section-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Contact</h2>
        <hr class="divider my-4" />
        <p class="text-muted mb-5">Appelez moi, ou laissez moi un mail. Je vous recontacterai.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>+33 (0)X XX XX XX XX</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i
        ><!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a class="d-block" href="mailto:naja.younes@gmail.com">naja.younes@gmail.com</a>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
  <div class="container"><div class="small text-center text-muted">Copyright © 2020 - YounesNAJA.com</div></div>
</footer>

